@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(275, 100%, 97%);
    font-family: 'work sans', sans-serif; 
    min-width: 100svw; 
    font-size: 0.8em; 
    margin: 0; 
    height: auto; 
}

header { 
    z-index: -2; 
    margin: 0; 
    display: flex; 
    flex-direction: row;
    min-width: 100%; 
    // min-height: auto; 
    height: 250px; 
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
}

main { 
    background-color: hsl(0, 100%, 100%);
    border-radius: 12px;
    min-width: 300px;
    z-index: 10; 
    padding: 10px 30px; 
    margin: 30px 20px; 
    // position: fixed; // this is making the scroll stop 
    text-align: left; 
    margin-top: -125px;
}

.line { 
    opacity: 10%; 
}

div.faqs { 
    display: flex; 
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h1.faqs { 
    font-size: 2.5em; 
    order: 2; 
}

h1.faqs, h2 { 
    color: hsl(292, 42%, 14%);
}

.star-icon { 
    height: 30px;
    padding-right: 20px; 
}

ol { 
    padding: 0; 
}

ol li div { 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

button { 
    border: none; 
    order: 1; 
    margin: 0; 
    padding: 0; 
    background: none;
    cursor: pointer;
}

// active & hover states 

.minus-icon { 
    display: none; // default for js 
}

h2 { 
    font-size: 1.2em; 
    font-weight: 600; 
}

h2:hover { 
    color: hsl(281, 83%, 54%); 
    cursor: pointer; // cursor is black :( 
}

p { 
    color: hsl(292, 16%, 49%); 
    line-height: 160%; 
    opacity: 80%; 
    margin-top: 10px; 
    font-size: 1.1em; 
    display: none; //default for js 

}

footer { 
    margin: 20px; 
}